@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html,body {		
	width: 100%;
    height: 100%;
    background-color: #fff;
}

#mycontainer	{
	width: 100%;
    height: 100%;
    background-color: #fff;
	
}
#myheader { 
  position: fixed;
  z-index: 2;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #333;
  text-align: center;
  width: 100%;
  height: 50px;
	
}

#mysideinfo{
  background-color: white;
  margin-left: 10px;
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 20px;
	
}

#mycontent		{
	padding-top: 50px;
	width: 100%;
    height: 100%;
    background-color: #fff;
    padding-left:60px;
	
}
#myfooter	{
   z-index: 2;
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;

}
	
		
